<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="StyleCSS/Bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="StyleCSS/Bootstrap/css/custom.css">
    <title>SansaTour</title>
  </head>
  <body>
	<div class="container">
			<div class="jumbotron">
				<h1 class="display-3">SansaTour</h1>
				<hr class="my-4">
        <h4 align="center">Bienvenido a SansaTour, su empresa preferida para comprar sus pasajes.</h4>
			</div>

			<div align="center" class="form-group row center">
        <form action="register.php" method="">
          <input class="btn btn-primary" type="submit" value="Registrarme">
        </form>
        <form action="login.php" method="">
          <input class="btn btn-primary" type="submit" value="Iniciar sesión">
        </form>

			</div>
	</div>


	<!-- Esto debería estar en todos los archivos-->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	<script src="js/Bootstrap_tutorial.js"></script>
	<!-- -->
  </body>






  </body>
</html>
