<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="StyleCSS/Bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" href="StyleCSS/Bootstrap/css/custom.css">
    <title>SansaTour</title>
  </head>
  <body>
    <div class="container">
  			<div class="jumbotron">
  				<h1 class="display-3" align="center">SansaTour</h1>
  				<hr class="my-4">
          <h4 align="center">Registro de usuario</h4>
  			</div>

        <form action="register.php" method="post" onsubmit="return UserDataValidation()" >

              <div class="alert alert-danger alert-dismissable" role="alert" id="error" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <p>
                </p> -->
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  Ingrese su información
                </div>
                <div class="panel-body">

                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <div>
                          <label for="username-id">Nombre usuario</label>
                          <input type="text" id="username" class="form-control" name="user_name">
                        </div>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <div>
                          <label>Nombre</label>
                          <input type="text" id="person-name" class="form-control" name="person-name">
                        </div>
                      </p>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <div>
                            <label>Contraseña</label>
                            <input type="password" id="password" class="form-control" name="user_psw">
                          </div>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <div>
                            <label>Confirme contraseña</label>
                            <input type="password" class="form-control" id="password-confirmation" name="user_psw_confirmation" placeholder="Confirme contraseña">
                          </div>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p>
                          <div>
                            <label>Ingrese email</label>
                            <input type="text" class="form-control" id="mail" name="user_email">
                          </div>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <div>
                            <label>Ingrese RUT</label>
                            <input type="text" class="form-control" id="rut" name="user_rut" placeholder="xxxxxxxx-x">
                          </div>
                        </p>
                      </div>
                    </div>

                </div>
                <div class="row">
                  <p>
                    <div align="center">
                      <button class="btn btn-success" type="submit" name="register">Registrarme</button>
                      <button class="btn btn-danger" type="reset" value="Resetear campos">Resetear campos</button>
                    </div>
                  </p>
                </div>
              </div>


          </form>
          <p>
            <form action="SansaTour.php">
                <input class="btn btn-primary" type="submit" value="Cancelar registro">
            </form>
          </p>



    </div>
    <script src="js/validation.js"></script>
    <script src="StyleCSS/Bootstrap/js/bootstrap.js"></script>
    <script src="StyleCSS/Bootstrap/js/bootstrap.min.js"></script>
    <script src="StyleCSS/Bootstrap/js/npm.js"></script>
  </body>
</html>
