<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SansaTour</title>
  </head>
  <body>
    <aside>
      <h1> SansaTour </h1>
      <h2  style="text-align:center">
        Hola "nombre", <br>Bienvenido a transportes SansaTour
      </h2>
      <p style="text-align:center">
        Si desea un comprar tiquet entre en buscar recorridos
        <br>
        <input
          type="button"
          name=""
          value="Buscar Recorridos"
          style="height:70px; width:300px; font-size:35px; background-color:darkgreen"
          >
      </p>
      <p style="text-align:center">
        Si ya ha finalizado su compra y quiere cerrar su sesion
        <br>
        <input
          type="button"
          name=""
          value="Cerrar Sesion de Usuario"
          style="height:70px; width:300px; font-size:20px; background-color:#BB3333"
          onclick="window.location.href='?name=main'"
          >
      </p>
      <br>

    </aside>
  </body>
</html>
